#startScreen {
  position: absolute;
  z-index: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

#gameLogo {
  position: relative;
  z-index: 2;
  width: 25%;
  height: auto;
  top: 25px;;
  left: 37.5%;
}

#mainGame {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#scoreButton {
  position:absolute;
  left: 1%;
  top: 2.25px;
  width: 15%;
  height: auto;
  cursor: pointer;
}

#orderButton {
  position: absolute;
  left: 17%;
  top: 10px;
  width: 11%;
  height: auto;
  cursor: pointer;
}

#inventoryButton {
  position: absolute;
  left: 28%;
  top: 9.75px;
  width: 11.75%;
  height: auto;
  cursor: pointer;
}

#dayButton {
  position: absolute;
  right: 1%;
  top: 10px;
  width: 10%;
  height: auto;
  cursor: pointer;
}

#resetGame {
  height: auto;
  width: 9.5%;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 1%;
  cursor: pointer;
}
#endDay {
  position: absolute;
  right: 1%;
  bottom: 20px;
  width: 15%;
  height: auto;
  cursor: pointer;
}
#cashBal {
  position: absolute;
  top: 13.25px;
  right: 85%;
  z-index: 3;
  font-size: 30px;
  font-weight: bold;
  font-family: "Avenir", sans-serif;
}
#instructions {
  position: absolute;
  z-index: 3;
  width: 17%;
  height: auto;
  top: 420px;
  left: 30%;
  font-size: 20px;
  cursor: pointer;
}

#playButton {
  position: absolute;
  z-index: 3;
  width: 17%;
  height: auto;
  top: 420px;
  right: 30%;
  font-size: 20px;
  cursor: pointer;
}

#playerName {
  position: absolute;
  z-index: 2;
  top: 345px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}
#seedNumber {
  position: absolute;
  z-index: 2;
  top: 395px;
  left: 50%;
  transform: translate(-50%, -57%);
  width: 15%;
}
.name-text-class {
  position: absolute;
  z-index: 2;
  color: black;
  font-size: 20px;
  top: 333px;
  right: 58%;
}
.seed-text-class {
  position: absolute;
  z-index: 2;
  color: black;
  font-size: 20px;
  top: 380px;
  right: 58%;
}

/*/* Start of Start Game Modal */
#start-game-modal img {
  max-width: 100%;
  height: auto;
}

/* Inventory for start-game-modal */
#roseLeft_start,
#babyLeft_start,
#carnLeft_start,
#roseExp_start,
#babyExp_start,
#carnExp_start {
  position: absolute;
  z-index: 2;
  font-size: 15px;
  color: green;
}

#roseLeft_start {
  top: 85px;
  left: 51%;
}

#babyLeft_start {
  top: 85px;
  left: 76%;
}
#carnLeft_start {
  top: 85px;
  left: 63%;
}
#roseExp_start {
  top: 150px;
  left: 51%;
}

#babyExp_start {
  top: 150px;
  left: 76%;
}
#carnExp_start {
  top: 150px;
  left: 63%;
}

#numberofstaff {
  position: absolute;
  z-index: 2;
  color: purple;
  font-size: 50px;
  top: 80px;
  left: 84%;
}

/* End of Inventory for start-game-modal */
/* Start of Demand Forecast for start-game-modal */ 

#B1demandforecast_start,
#B2demandforecast_start,
#B3demandforecast_start,
#B4demandforecast_start,
#B5demandforecast_start,
#B6demandforecast_start{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  color: red;
}

#B1demandforecast_start {
  top: 60px;
  left: 12%;
}

#B2demandforecast_start {
  top: 60px;
  left: 25%;
}

#B3demandforecast_start {
  top: 60px;
  left: 37%;
}

#B4demandforecast_start {
  top: 120px;
  left: 12%;
}

#B5demandforecast_start {
  top: 120px;
  left: 25%;
}

#B6demandforecast_start {
  top: 120px;
  left: 37%;
}

/* End of Demand Forecast for start-game-modal */

/* Start of User input for start-game-modal */

#B1choice,
#B2choice,
#B3choice,
#B4choice,
#B5choice,
#B6choice{
  position: absolute;
  z-index: 2;
  height: 30px;
  width: 5%;
  padding-left: 2px;
  padding-right: 2px;
}

#B1choice {
  top: 225px;
  left: 48%;
}

#B2choice {
  top: 225px;
  left: 68%;
}

#B3choice {
  top: 225px;
  left: 88%;
}

#B4choice {
  top: 285px;
  left: 48%;
}

#B5choice {
  top: 285px;
  left: 68%;
}

#B6choice {
  top: 285px;
  left: 88%;

}

/* End of User input for start-game-modal */

/* start of start game calc */
#startcalc_B1, #startcalc_B2, #startcalc_B3, #startcalc_B4, #startcalc_B5, #startcalc_B6 {
  position: absolute;
  z-index: 2;
  height: auto;
  width: 6%;
  padding-left: 2px;
  padding-right: 0px;
}

#startcalc_B1 {
  top: 208px;
  left: 10%;
}


#startcalc_B2 {
  top: 208px;
  left: 20%;
}


#startcalc_B3 {
  top: 208px;
  left: 30%;
}


#startcalc_B4 {
  top: 235px;
  left: 10%;
}


#startcalc_B5 {
  top: 235px;
  left: 20%;
}


#startcalc_B6 {
  top: 235px;
  left: 30%;
}


#startcalc_r, #startcalc_b, #startcalc_c {
  position: absolute;
  z-index: 2;
  font-size: 14px;
}
#startcalc_r { 
   top: 271px;
  left: 7% ;
}

#startcalc_b {
   top: 291px;
  left: 7% ;
}

#startcalc_c {
   top: 311px;
  left: 7% ;
}
/* end of start game calc */

/* End of Start Game Modal */

/* Start of Calendar Modal */ 
#cal-menu-modal {
  position: relative;
}
#cal-menu-modal img {
  max-width: 100%;
  height: auto;
}
#cal_button, #month_fc, #next_fc {
  position: absolute;
  z-index: 3;
  width 10%;
  font-weight: bold;
  color: black;
  font-size: 20px;
  background-color: rgb(226, 128, 106);
  border: 2px solid black ;
}
#cal_button {
  top: 115px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#month_fc {
  top: 165px;
  left: 10%;
}
#next_fc {
  top: 165px;
  right: 10%;
}
#next-fc-modal {
  background-color: rgb(250, 242, 243); 
  border: 2px solid black;
  padding: 15px;
}
#nextday_modal_title {   
  font-size: 30px;   
  top: 5px; 
}  
#nextday_B1, #nextday_B2, #nextday_B3, #nextday_B4, #nextday_B5, #nextday_B6 {
  font-size: 20px;
}

#calendar-modal {
  position:relative
}
#calendar-modal img {
  max-width: 100%;
  height: auto;
}
/* End of Calendar Modal*/ 

/* Start of Inventory Modal */ 
#inventory-modal img {
  max-width: 100%;
  height: auto;
}

#B1Exp,
#B2Exp,
#B3Exp,
#B4Exp,
#B5Exp,
#B6Exp{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  color: green;
}

#B1Exp, #B4Exp { 
  left: 12%;
}
#B2Exp, #B5Exp {
  left: 23%;
}
#B3Exp, #B6Exp {
  left: 34.5%;
}
#B1Exp, #B2Exp, #B3Exp {
  top: 97.5px;
}
#B4Exp, #B5Exp, #B6Exp {
  top: 207px;
}

#roseLeft,
#babyLeft,
#carnLeft,
#roseExp,
#babyExp,
#carnExp {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  color: green;
}
#roseLeft, #babyLeft, #carnLeft {
  right: 23%;
}
#roseExp, #babyExp, #carnExp {
  left: 49%;
}
#roseLeft, #roseExp {
  top: 83px;
}

#babyLeft, #babyExp {
  top: 223px;
}
#carnLeft, #carnExp {
  top: 153px;
}

/* End of inventory-modal*/

/* Start of end-day-modal */
#end-day-modal img {
  max-width: 100%;
  height: auto;
}

#end-day-modal {
  position: relative;
}

#BouqLeftOutput,
#BouqExpOutput,
#flowExpOutput,
#flowLeftOutput {
  position: absolute;
  z-index: 3;
}

#BouqLeftOutput table,
#BouqExpOutput table,
#flowExpOutput table,
#flowLeftOutput table {
  background: transparent;
  border: none;
  border-collapse: collapse;
  }

#flowExpOutput th,
#flowExpOutput td,
#flowLeftOutput th
#flowLeftOutput td {
  border: none;
}

#fulfilledOutput,
#dailyRevenue,
#dailyCost,
#dailyProfit {
  position: absolute;
  z-index: 3
}

#fulfilledOutput {
  top: 62px;
  left: 22%
}
#dailyRevenue, #dailyCost, #dailyProfit {
  right: 47%
}
#dailyRevenue {
  top: 64px;
}

#dailyCost {
  top: 82px;
}

#dailyProfit {
  top: 105px;
}

#flowExpOutput {
  top: 131px;
  left: 5%
}
#flowLeftOutput {
  top: 173px;
  left: 5%
}
#r_order,
#c_order,
#b_order,
#staff_hire,
#staff_fire {
  position: absolute;
  width:7%;
  height: auto;
  z-index: 5;
  right: 35%;
  padding-left: 2px;
  padding-right: 2px;
}
#r_order {
  top: 83px
}
#c_order {
  top: 122px
}
#b_order {
  top: 161px
}
#staff_hire {
  top: 248px
}
#staff_fire {
  top: 287px
}
/* start of end day calc */
#endcalc_B1, #endcalc_B2, #endcalc_B3, #endcalc_B4, #endcalc_B5, #endcalc_B6 {
  position: absolute;
  z-index: 2;
  height: auto;
  width: 9%;
  padding-left: 2px;
  padding-right: 2px;
}

#endcalc_B1, #endcalc_B4 {
  left: 10%;
}
#endcalc_B2, #endcalc_B5 {
  left: 25%;
}
#endcalc_B3, #endcalc_B6 {
  left: 40%;
}
#endcalc_B1, #endcalc_B2, #endcalc_B3  {
  top: 228px;
}
#endcalc_B4, #endcalc_B5, #endcalc_B6 {
  top: 265px;
}

#endcalc_r, #endcalc_b, #endcalc_c {
  position: absolute;
  z-index: 2;
  font-size: 14px;
}
#endcalc_r { 
   top: 306px;
  left: 7% ;
}

#endcalc_b {
   top: 326px;
  left: 7% ;
}

#endcalc_c {
   top: 346px;
  left: 7% ;
}
#b1_ec_input, #b2_ec_input, #b3_ec_input, #b4_ec_input, #b5_ec_input, #b6_ec_input{
  position: absolute;
  z-index: 3;
}
#b1_ec_input, #b2_ec_input, #b3_ec_input{
top: 234px;
}
#b4_ec_input, #b5_ec_input, #b6_ec_input{
top: 271px;
}
#b1_ec_input, #b4_ec_input{
left: 6%;
}
#b2_ec_input, #b5_ec_input{
left: 21%;
}
#b3_ec_input, #b6_ec_input{
left: 36%;
}
/* end of end day calc */
/* End of end-day-modal */

/* Start of order-fulfilment-modal */   
#order-fulfilment-modal {   
  background-color: rgb(250, 242, 243); 
  border:2px solid black;
  padding: 15px
}  
#order_fulfilmentTitle {   
  font-size: 30px;   
  top: 5px; 
}  
#bouquet1fulfilled, #bouquet2fulfilled, #bouquet3fulfilled, #bouquet4fulfilled, #bouquet5fulfilled, #bouquet6fulfilled{   
  font-size: 20px; 
}  
#bouquet1fulfilled {   
  top: 5px; 
}  
#bouquet2fulfilled {   
  top: 30px; 
}  
#bouquet3fulfilled {   
  top: 55px; 
}  
#bouquet4fulfilled {   
  top: 70px; 
}  
#bouquet5fulfilled {   
  top: 95px; 
}  
#bouquet6fulfilled {   
  top: 120px; 
}   
/* End of of order-fulfilment-modal */
/* Start of score-leaderboard-modal*/  
#score-leaderboard-modal {    
  background-color: rgb(250, 242, 243);
  border:2px solid black;
  padding: 15px
}  
#score_leaderboardTitle {   
  font-size: 30px;   top: 5px; 
}  
#scoreLeaderboard table {   
  background: transparent;   
  border: none;   
  border-collapse: collapse;   
  font-size: 20px; 
}    
/* End of score-leaderboard-modal */